@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=boska@400&display=swap');
@import "tailwindcss";

:root {
  /* Colors */
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ffffff;
  --lightDark: #101014;
  --secondary: #4EA62F;

  /* Font family */
  --font-heading: 'Boska', serif;
  --font-body: 'Poppins', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-lightDark: var(--lightDark);
  --font-sans: var(--font-body);
  --font-heading: var(--font-heading);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #ededed;
    --secondary: #4EA62F;
    /* You can customize this if needed */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
} */